In [55]:
import pandas as pd
import numpy as np
import os
os.chdir("C:\\Users\\22560\\PycharmProjects\\lastFM")

先读取所需要的数据：

- validation data set
- training data set
- latentFactor data set

In [56]:
# read latent factor file
import h5py
latent_factor_file = h5py.File('hetrec2011-lastfm-2k\\latentFactor.hdf5', 'r')
user_latent_factor_matrix = latent_factor_file['userLatentFactor'].value
item_latent_factor_matrix = latent_factor_file['itemLatentFactor'].value

In [57]:
user_latent_factor_matrix.shape,item_latent_factor_matrix.shape

((1892, 400), (18022, 400))

In [58]:
# read validation dataset
validationSet = pd.read_csv("hetrec2011-lastfm-2k\\validationAfterlog.csv")

# read training dataset

trainSet =  pd.read_csv("hetrec2011-lastfm-2k\\trainAfterDealing.csv")

validationSet.info(), trainSet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18567 entries, 0 to 18566
Data columns (total 3 columns):
userID      18567 non-null int64
artistID    18567 non-null int64
weight      18567 non-null float64
dtypes: float64(1), int64(2)
memory usage: 435.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74269 entries, 0 to 74268
Data columns (total 3 columns):
userID      74269 non-null int64
artistID    74269 non-null int64
weight      74269 non-null float64
dtypes: float64(1), int64(2)
memory usage: 1.7 MB

(None, None)

为了说明问题，我们需要找打那些在validation上出现过，且只在validation上出现过的歌

In [59]:
validationSet.head()

   userID  artistID    weight
0     291      2085  6.664409
1     601       602  6.013715
2     320      1043  4.634729
3    1622       524  4.330733
4     913       752  7.189168

通过groupby方法，可以获得哪些在validation中只被听过一次的歌

In [60]:
countArtists = validationSet.groupby('artistID')['weight'].count()
songHasListenedOnce = countArtists[countArtists == 1].index.tolist()
songHasListenedOnce = set(songHasListenedOnce)

查看这些歌中，在train中出现的歌

#####  注意这里isin方法的使用

In [61]:
songListenedInTrain = set(trainSet[trainSet.artistID.isin(songHasListenedOnce)].artistID)

找到那些没有在train中出现过的歌：

In [62]:
onlyListendInValidation = list((songHasListenedOnce - songListenedInTrain))
onlyListendInValidation[:10]

[16385, 16387, 16389, 8198, 19, 21, 16406, 8218, 8221, 8225]

找到validation中这些歌对应的子集

In [63]:
vali_onlylistendinvali = validationSet[validationSet.artistID.isin(onlyListendInValidation)].copy()
vali_onlylistendinvali.sort_values(by = ['userID','artistID'],inplace = True)
vali_onlylistendinvali[vali_onlylistendinvali.userID == 74]

       userID  artistID    weight
14237      74      2150  5.105945

In [64]:
trainSet[trainSet.userID == 74].head()

      userID  artistID    weight
2916      74        99  4.736198
2917      74       152  4.762174
2918      74       172  4.691348
2919      74       179  5.093750
2920      74       601  7.091742

注意到其中一条* (780,10352,8.1417) * ,对应获得了780号用户对于10352这首歌曲的评价

注意到这个评价满足两个要点：

- 10352这首歌在训练集中从来没有出现过
- 而在测试集中，相当于780号用户爱上了一首大家都没听过的歌

我们来看看预测的情况：

In [65]:
target_hat = user_latent_factor_matrix.dot(item_latent_factor_matrix.transpose())
target_hat.shape

(1892, 18022)

In [66]:
target_hat[74 , 2150]

5.2723739092182234

### 原因分析


首先找到这首歌所有相关的歌，看看用户以及其在相关歌上的评价

In [67]:
userID   = 67
artistID = 1992

# (74,2150)
# （67，1992）
# 先找到用户以及其相关的用户
import h5sparse
user_net  = h5sparse.File("networkData\\userdot_cosine.h5",'r') 
userrelation = user_net['dot_cosineData/data'][userID:(userID+1)].todense().A.ravel()
userNum = userrelation.shape[0]
userlist  = np.array(list(range(userNum)))
relatedUser = userlist[userrelation>0]

In [68]:
relatedUser

array([  67,  200,  824, 1201, 1394])

In [69]:
relatedTrain = trainSet[trainSet.userID.isin(relatedUser)]
relatedTrain.head()

      userID  artistID    weight
2639      67       705  5.652489
2640      67       838  5.463832
2641      67       913  6.354370
2642      67       915  7.353082
2643      67       917  4.997212

In [77]:
item_net  =  h5sparse.File("networkData\\itemdot_cosine.h5",'r') 
item_net  =  item_net['dot_cosineData/data'].value
item_relation = item_net[artistID,:].todense().A.ravel()
itemlist = np.array(list(range(item_relation.shape[0])))
itemrelated = itemlist[item_relation>0]

In [93]:
relatedTrain_relatedItem = relatedTrain[relatedTrain.artistID.isin(itemrelated)].copy()
relatedTrain_relatedItem.shape

(80, 3)

In [83]:
itemdis = h5sparse.File("networkData\\itemdis.h5",'r') 
itemdis = itemdis['disData/data'].value
userdis = h5sparse.File("networkData\\userdis.h5","r")
userdis = userdis['disData/data'].value

In [109]:
relatedTrain_relatedItem['userdis'] = userdis[userID,relatedTrain_relatedItem.userID].todense().A.ravel()
relatedTrain_relatedItem['itemdis'] = itemdis[artistID,relatedTrain_relatedItem.artistID].todense().A.ravel()

In [110]:
relatedTrain_relatedItem['kernel'] =  np.exp(-np.sqrt((relatedTrain_relatedItem['userdis'] + relatedTrain_relatedItem['itemdis'])/8))

In [111]:
relatedTrain_relatedItem = relatedTrain_relatedItem.sort_values(by = 'kernel',ascending=False)
relatedTrain_relatedItem = relatedTrain_relatedItem.iloc[:5,:]

In [87]:
relatedTrain_relatedItem.weight.mean(0)

5.229846207949146

In [88]:
relatedTrain_relatedItem.head()

       userID  artistID    weight   userdis   itemdis    kernel
2659       67      1990  5.537334  0.000000  0.991404  0.703259
32326     824      1412  6.278521  0.656840  0.597603  0.673016
47262    1201      2957  4.094345  0.596838  1.005594  0.639190
47270    1201      6570  4.262680  0.596838  1.346074  0.610906
2646       67       939  5.976351  0.000000  2.067017  0.601512

### 正式开始吹逼


##### 为什么要做这些

![tuijian](reason.png)


  以某视频网站为例，每年都会需要引进新的动画，而这些动画是不会出现在训练集中的，但是，我们有需要精准的知道哪些用户会对于哪些动画感兴趣，从而合理的进行推荐，这种推荐有两个特点：
- 1 之前没有用户对于这些商品的偏好的信息
- 2 但是这类型的推荐的需求广泛地存在

由于上述两个特性，就有必要研究这类型的推荐系统


##### 这是怎么完成的

接下来我们以一个例子展示这是怎么做到的

首先。我们先找到这样一首歌，它只在测试集中出现过

In [100]:
vali_onlylistendinvali[vali_onlylistendinvali.artistID == 1992]

     userID  artistID    weight
441      67      1992  5.347108

注意到这首歌之前从来没有在train中出现过，现在来看看我们是怎么预测user 67 对于 这首歌的评价

首先。我们先找到user67，以及其相关的用户在train中的所有的评分记录

In [101]:
relatedTrain.shape

(177, 3)

注意现在相关的评论公有177条

In [102]:
relatedTrain.sample(frac = 0.04)

       userID  artistID    weight
32320     824       913  6.122493
2667       67      2000  4.709530
47255    1201      1249  4.060443
2657       67      1987  5.986452
54836    1394       437  1.609438
7864      200      4272  3.806662
2648       67       973  4.394449

然后从中，筛选出那些和artistID = 1992这首歌具有相似性的歌曲

In [107]:
relatedTrain_relatedItem.sample(frac = 0.1)

       userID  artistID    weight
47255    1201      1249  4.060443
2652       67      1244  5.613128
54841    1394       923  3.784190
47265    1201      4216  5.187386
54846    1394      1345  0.693147
47257    1201      1523  4.634729
32319     824       859  5.891644
2655       67      1985  7.068172

In [95]:
relatedTrain_relatedItem.shape

(80, 3)

可以看到现在相关记录已经只有80条了

之后，我们来看看记录中的user，artist 和 [67,1992]的关系

In [113]:
relatedTrain_relatedItem.head()

       userID  artistID    weight   userdis   itemdis    kernel
2659       67      1990  5.537334  0.000000  0.991404  0.703259
32326     824      1412  6.278521  0.656840  0.597603  0.673016
47262    1201      2957  4.094345  0.596838  1.005594  0.639190
47270    1201      6570  4.262680  0.596838  1.346074  0.610906
2646       67       939  5.976351  0.000000  2.067017  0.601512

其中，userdis 是用户之间的距离， itemdis 是 item之间的距离，kernel是根据距离计算出来的，这条记录的重要性

计算的公式如下：
$  kernel = \exp{( \frac{||x_{user,item}-x_{67,1992}|| }{h})} $ , 可以理解为，距离越近，权重越高

然后，按照kernel 排序，认为，在前5的评分，最能用来预测user 67 对于 1992这首歌的评价

之后，应该按照归一化的kernel对于评分加权，这里简单的以平均数大致展示一下估计

In [114]:
relatedTrain_relatedItem.weight[:5].mean()

5.229846207949146

可以看出，平滑得出的用户对于商品评分已经估计得很好了

但是为了保证不过拟合，同时使得能深入挖掘用户偏好，采用ALS的处理抽取用户特征

后续内容不详细展开