在构建了模型之后，需要开始做推荐了

一般的推荐大体有两种情形

- 给用户推荐歌曲

- 推荐一首歌曲相似的歌曲

#### part1 给用户推荐歌曲

In [64]:
import pandas  as pd
import os
os.chdir("C:\\Users\\22560\\PycharmProjects\\lastFM")


# 读取LFM数据

import h5py
latent_factor_file = h5py.File('hetrec2011-lastfm-2k\\latentFactor.hdf5', 'r')
user_latent_factor_matrix = latent_factor_file['userLatentFactor'].value
item_latent_factor_matrix = latent_factor_file['itemLatentFactor'].value

In [65]:
trainset = pd.read_csv("hetrec2011-lastfm-2k\\trainAfterDealing.csv")
trainset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74269 entries, 0 to 74268
Data columns (total 3 columns):
userID      74269 non-null int64
artistID    74269 non-null int64
weight      74269 non-null float64
dtypes: float64(1), int64(2)
memory usage: 1.7 MB

In [66]:
target_hat = user_latent_factor_matrix.dot(item_latent_factor_matrix.transpose())

row = trainset.userID
col = trainset.artistID
target_hat[row,col] = 0


targetSort  =  target_hat.copy()
targetSort.sort(1)
N = 200
topN = (targetSort[:,-N] ).reshape(-1,1)
target_hat[(target_hat < topN)] = 0

In [67]:
(target_hat!=0).sum(1)

array([200, 200, 200, ..., 200, 200, 200])

现在来设法查看推荐效果

part1 找出每一个用户喜欢听歌的tag前10个

In [12]:
trainset.head()

   userID  artistID    weight
0       0        49  9.538420
1       0        52  9.239899
2       0        53  9.103089
3       0        55  8.691986
4       0        56  8.437284

In [34]:
artists_tag = pd.read_csv("hetrec2011-lastfm-2k\\artist_tags_matrix.csv")
tag = pd.read_csv("hetrec2011-lastfm-2k\\tags.csv",encoding='GBK')

In [21]:
user_tag = pd.merge(trainset,artists_tag,left_on='artistID',right_on='artistID')
user_tag.head()

   userID  artistID   weight  tagID  value
0       0        49  9.53842     12      1
1       0        49  9.53842     13      1
2       0        49  9.53842     15      1
3       0        49  9.53842     16      1
4       0        49  9.53842     17      1

In [47]:
user0 = user_tag[user_tag.userID == 0].groupby(['userID','tagID'])[['artistID']].count().reset_index()

user0 = pd.merge(user0,tag)

user0.rename(columns={'artistID':'artistIDcount'},inplace=True)

In [52]:
user0.sort_values(by = 'artistIDcount',inplace=True,ascending=False)

In [53]:
user0.head()

    userID  tagID  artistIDcount     tagValue
6        0     17             26   electronic
12       0     23             26          pop
1        0     12             23     chillout
22       0     38             21        dance
36       0     78             21  alternative

In [81]:
import numpy as np 
songlist = np.array(list(range(target_hat.shape[1])))
reco0 = target_hat[0,:]>0
reco0 = songlist[reco0]

In [82]:
reco0 = artists_tag[artists_tag.artistID.isin(reco0)]

     artistID  tagID  value
746        50     12      1
747        50     14      1
748        50     17      1
749        50     19      1
750        50     20      1

In [93]:
recSong = reco0.groupby('tagID')[['artistID']].count()
recSong.reset_index(inplace = True)

In [94]:
recSong.head()

   tagID  artistID
0      0         3
1      1         1
2      4         1
3      5         1
4     12        92

In [107]:
user0.head(5)

    userID  tagID  artistIDcount     tagValue
6        0     17             26   electronic
12       0     23             26          pop
1        0     12             23     chillout
22       0     38             21        dance
36       0     78             21  alternative

In [108]:
top10 = recSong.sort_values(by='artistID',ascending=False)[:5]
pd.merge(top10,tag)

   tagID  artistID     tagValue
0     12        92     chillout
1     17        89   electronic
2     13        70      ambient
3     14        65    downtempo
4    186        54  electronica

#### part2 推荐一首歌相似的歌曲

In [180]:
# 思路上，在获取了item的属性list后，就可以计算歌曲的欧式距离了
from sklearn.metrics.pairwise import pairwise_distances
distance  = pairwise_distances(item_latent_factor_matrix)

In [181]:
distance.shape

(18022, 18022)

In [193]:
song0 = distance[0,:].copy().reshape(-1,)

In [194]:
song0Sort  = song0.copy()
song0Sort.sort()
topNsong = song0Sort[5]

song0[song0>topNsong] = 0

In [195]:
songlist = np.array(list(range(distance.shape[0])))
songrec = song0 > 0 
songrec = songlist[songrec]
songrec

array([  388,   394,  2940,  5582, 17039])

In [196]:
artists_tag[artists_tag.artistID.isin(songrec)].tagID.unique()

array([  138,   139,   140,   230,   357,   534,  1205,  2800,  3769,
        7254, 11375, 11549,    22,    26,   178,   298,   301, 11696,
       11935, 11936,     2,    13,   568,  1464], dtype=int64)

In [197]:
artists_tag[artists_tag.artistID == 0 ].tagID.unique()

array([ 138,  140,  178,  534,  545, 1205, 2800], dtype=int64)

# 正式开始吹逼

首先，推荐系统有两个常见的应用场景

- 1 对用户推荐

- 2 对于商品推荐


第一种，典型的如同网易云音乐的私人FM
![user](./recommand/user.png)


第二种，就是相似推荐


![item](./recommand/song.png)

### 首先是对用户推荐

In [202]:
# 对于第0号用户听歌list的所有歌曲的tag做汇总计数，得到对应的user0喜欢的前5个tag长这样
user0.head(5)

   tagID  artistID     tagValue
0     12        92     chillout
1     17        89   electronic
2     13        70      ambient
3     14        65    downtempo
4    186        54  electronica

In [203]:
# 而给他推荐的歌曲长这样
# 推荐了200首歌曲，他们当中，这些tag出现了最多次
pd.merge(top10,tag)

   tagID  artistID     tagValue
0     12        92     chillout
1     17        89   electronic
2     13        70      ambient
3     14        65    downtempo
4    186        54  electronica

效果很好

### 然后是对商品推荐相似

In [204]:
# 对于数据的第一首歌,包含的tag有
hastag = artists_tag[artists_tag.artistID == 0 ].tagID.unique()
tag[tag.tagID.isin(hastag)]

      tagID               tagValue
138     138                 j-rock
140     140             visual kei
178     178                 gothic
534     534               japanese
545     545                 weeabo
1205   1205                  jrock
2800   2800  better than lady gaga

In [205]:
# 然后我找了5首和它距离最近的歌，包含的tag有
hastag = artists_tag[artists_tag.artistID.isin(songrec)].tagID.unique()
tag[tag.tagID.isin(hastag)]

       tagID               tagValue
2          2              goth rock
13        13                ambient
22        22                new age
26        26               ethereal
138      138                 j-rock
139      139                  j-pop
140      140             visual kei
178      178                 gothic
230      230                 ballad
298      298                  world
301      301                 ethnic
357      357              favorites
534      534               japanese
568      568               darkwave
1205    1205                  jrock
1464    1464                   goth
2800    2800  better than lady gaga
3769    3769                strings
7254    7254                j  rock
11375  11375               tinosoft
11549  11549     other great tracks
11696  11696                 muslim
11935  11935                 ezbeni
11936  11936          winds of soul

In [206]:
# 推荐的歌曲，包含了原歌曲的tag，同时又有很多新的风格